In [1]:
import pandas as pd 
import os
from pathlib import Path
import csv

In [2]:
csvDict = {}

for subdir, dirs, files in os.walk(r'Datasets/'):
    for filename in files:
        filepath = subdir + os.sep + filename
        if filepath.endswith(".csv"):
            #if "MN5_AROME" in filename:
            if "drivers.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "driver_standings.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "results.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "status.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
for i in csvDict.keys():
    print (i)

drivers
driver_standings
results
status

In [3]:
for dataset in csvDict:
    print("---", dataset)
    for col in csvDict[dataset]:
        print(col)

--- drivers
driverId
driverRef
number
code
forename
surname
dob
nationality
url
--- driver_standings
driverStandingsId
raceId
driverId
points
position
positionText
wins
--- results
resultId
raceId
driverId
constructorId
number
grid
position
positionText
positionOrder
points
laps
time
milliseconds
fastestLap
rank
fastestLapTime
fastestLapSpeed
statusId
--- status
statusId
status

In [4]:
csvDict["drivers"].head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [5]:
csvDict["driver_standings"].head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [6]:
csvDict["results"].head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [7]:
csvDict["status"].head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [8]:
csvDict["drivers"] = csvDict["drivers"].set_index("driverId")
csvDict["driver_standings"] = csvDict["driver_standings"].set_index("driverId")
csvDict["driver_standings"].tail()

          driverStandingsId  raceId  points  position positionText  wins
driverId
825                   69927    1036     1.0        17           17     0
840                   69928    1036    40.0         5            5     0
817                   69929    1036    20.0        10           10     0
830                   69930    1036    95.0         2            2     1
807                   69931    1036     6.0        14           14     0

In [9]:
drivers_info = csvDict["drivers"].join(csvDict["driver_standings"]["wins"])
drivers_info.tail()

,driverRef,number,code,forename,surname,dob,nationality,url,wins
driverId,,,,,,,,,
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,0.0
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,0.0
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,0.0
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,0.0
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,0.0

TypeError: 'newLine' is an invalid keyword argument for open()