In [1]:
import pandas as pd 
import os
from pathlib import Path
import csv
import shutil
from tempfile import NamedTemporaryFile

In [2]:
csvDict = {}

for subdir, dirs, files in os.walk(r'Datasets/'):
    for filename in files:
        filepath = subdir + os.sep + filename
        if filepath.endswith(".csv"):
            #if "MN5_AROME" in filename:
            if "drivers.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "driver_standings.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "results.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "status.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "races.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
for i in csvDict.keys():
    print (i)

drivers
driver_standings
races
results
status

In [3]:
for dataset in csvDict:
    print("---", dataset)
    for col in csvDict[dataset]:
        print(col)

--- drivers
driverId
driverRef
number
code
forename
surname
dob
nationality
url
--- driver_standings
driverStandingsId
raceId
driverId
points
position
positionText
wins
--- races
raceId
year
round
circuitId
name
date
time
url
--- results
resultId
raceId
driverId
constructorId
number
grid
position
positionText
positionOrder
points
laps
time
milliseconds
fastestLap
rank
fastestLapTime
fastestLapSpeed
statusId
--- status
statusId
status

In [4]:
drivers = csvDict["drivers"]
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...,...
843,845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,http://en.wikipedia.org/wiki/Sergey_Sirotkin_(...
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
845,847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
846,848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi

In [5]:
driver_standings = csvDict["driver_standings"]
driver_standings

,driverStandingsId,raceId,driverId,points,position,positionText,wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0
...,...,...,...,...,...,...,...
32684,69927,1036,825,1.0,17,17,0
32685,69928,1036,840,40.0,5,5,0
32686,69929,1036,817,20.0,10,10,0
32687,69930,1036,830,95.0,2,2,1
32688,69931,1036,807,6.0,14,14,0

In [6]:
results = csvDict["results"]
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24735,24741,1036,841,51,99,20,16,16,16,0.0,65,\N,\N,47,6,1:21.801,204.863,11
24736,24742,1036,847,3,63,18,17,17,17,0.0,65,\N,\N,37,15,1:22.503,203.119,11
24737,24743,1036,849,3,6,19,18,18,18,0.0,64,\N,\N,60,9,1:22.030,204.291,12
24738,24744,1036,154,210,8,17,19,19,19,0.0,64,\N,\N,64,3,1:20.409,208.409,12
24739,24745,1036,844,6,16,9,\N,R,20,0.0,38,\N,\N,35,20,1:23.968,199.576,40

In [7]:
status = csvDict["status"]
status

     statusId        status
0           1      Finished
1           2  Disqualified
2           3      Accident
3           4     Collision
4           5        Engine
..        ...           ...
130       133      +49 Laps
131       134      +38 Laps
132       135    Brake duct
133       136          Seat
134       137        Damage

[135 rows x 2 columns]

In [8]:
drivers = drivers.set_index("driverId")
driver_standings = driver_standings.set_index("driverId")
drivers

,driverRef,number,code,forename,surname,dob,nationality,url
driverId,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen
...,...,...,...,...,...,...,...,...
845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,http://en.wikipedia.org/wiki/Sergey_Sirotkin_(...
846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris
847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...
848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi

In [9]:
driver_standings

          driverStandingsId  raceId  points  position positionText  wins
driverId
1                         1      18    10.0         1            1     1
2                         2      18     8.0         2            2     0
3                         3      18     6.0         3            3     0
4                         4      18     5.0         4            4     0
5                         5      18     4.0         5            5     0
...                     ...     ...     ...       ...          ...   ...
825                   69927    1036     1.0        17           17     0
840                   69928    1036    40.0         5            5     0
817                   69929    1036    20.0        10           10     0
830                   69930    1036    95.0         2            2     1
807                   69931    1036     6.0        14           14     0

[32689 rows x 6 columns]

In [10]:
drivers["wins"] = drivers.shape[0]*[0]

In [11]:
drivers

,driverRef,number,code,forename,surname,dob,nationality,url,wins
driverId,,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,0
2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,0
3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,0
4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,0
5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,0
...,...,...,...,...,...,...,...,...,...
845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian,http://en.wikipedia.org/wiki/Sergey_Sirotkin_(...,0
846,norris,4,NOR,Lando,Norris,1999-11-13,British,http://en.wikipedia.org/wiki/Lando_Norris,0
847,russell,63,RUS,George,Russell,1998-02-15,British,http://en.wikipedia.org/wiki/George_Russell_%2...,0
848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai,http://en.wikipedia.org/wiki/Alexander_Albon,0
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,http://en.wikipedia.org/wiki/Nicholas_Latifi,0

In [12]:
driver_standings

          driverStandingsId  raceId  points  position positionText  wins
driverId
1                         1      18    10.0         1            1     1
2                         2      18     8.0         2            2     0
3                         3      18     6.0         3            3     0
4                         4      18     5.0         4            4     0
5                         5      18     4.0         5            5     0
...                     ...     ...     ...       ...          ...   ...
825                   69927    1036     1.0        17           17     0
840                   69928    1036    40.0         5            5     0
817                   69929    1036    20.0        10           10     0
830                   69930    1036    95.0         2            2     1
807                   69931    1036     6.0        14           14     0

[32689 rows x 6 columns]

In [13]:
driver_standings

          driverStandingsId  raceId  points  position positionText  wins
driverId
1                         1      18    10.0         1            1     1
2                         2      18     8.0         2            2     0
3                         3      18     6.0         3            3     0
4                         4      18     5.0         4            4     0
5                         5      18     4.0         5            5     0
...                     ...     ...     ...       ...          ...   ...
825                   69927    1036     1.0        17           17     0
840                   69928    1036    40.0         5            5     0
817                   69929    1036    20.0        10           10     0
830                   69930    1036    95.0         2            2     1
807                   69931    1036     6.0        14           14     0

[32689 rows x 6 columns]

In [14]:
races = csvDict["races"]
races["date"] = pd.to_datetime(races["date"])
races.to_csv("Driver/racesTest.csv", sep=';')

In [ ]:
drivers.to_csv("Datasets/driversTest.csv", sep=';')

In [19]:
for row in csvDict["drivers"]:
    for field in row:
        print(field)

d
r
i
v
e
r
I
d
d
r
i
v
e
r
R
e
f
n
u
m
b
e
r
c
o
d
e
f
o
r
e
n
a
m
e
s
u
r
n
a
m
e
d
o
b
n
a
t
i
o
n
a
l
i
t
y
u
r
l