In [1]:
import pandas as pd 
import os
from pathlib import Path
import csv
import shutil
from tempfile import NamedTemporaryFile

#### Ouverture des plusieurs fichiers à rassembler dans un dictionnaire

In [2]:
csvDict = {}

for subdir, dirs, files in os.walk(r'Datasets/'):
    for filename in files:
        filepath = subdir + os.sep + filename
        if filepath.endswith(".csv"):
            #if "MN5_AROME" in filename:
            if "drivers.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "driver_standings.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "results.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "status.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "constructors.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "races.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
            if "circuits.csv" == filename:
                csvDict[filename[:-4]] = pd.read_csv(Path(filepath), sep=",")
for i in csvDict.keys():
    print (i)

circuits
constructors
drivers
driver_standings
races
results
status

#### Affichage de chaque colonne de chaque fichier

In [3]:
for dataset in csvDict:
    print("---", dataset)
    for col in csvDict[dataset]:
        print(col)

--- circuits
circuitId
circuitRef
name
location
country
lat
lng
alt
url
--- constructors
constructorId
constructorRef
name
nationality
url
--- drivers
driverId
driverRef
number
code
forename
surname
dob
nationality
url
--- driver_standings
driverStandingsId
raceId
driverId
points
position
positionText
wins
--- races
raceId
year
round
circuitId
name
date
time
url
--- results
resultId
raceId
driverId
constructorId
number
grid
position
positionText
positionOrder
points
laps
time
milliseconds
fastestLap
rank
fastestLapTime
fastestLapSpeed
statusId
--- status
statusId
status

#### Suppression de colonnes inutiles dans les différents fichiers

In [4]:
drivers = csvDict["drivers"]
drivers = drivers.drop(columns = ["url"])
drivers = drivers.rename(columns = {'number':'pilot_number'})
drivers

,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish
...,...,...,...,...,...,...,...,...
843,845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian
844,846,norris,4,NOR,Lando,Norris,1999-11-13,British
845,847,russell,63,RUS,George,Russell,1998-02-15,British
846,848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai
847,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian

In [5]:
driver_standings = csvDict["driver_standings"]
driver_standings = driver_standings.drop(columns = ["driverStandingsId"])
driver_standings

       raceId  driverId  points  position positionText  wins
0          18         1    10.0         1            1     1
1          18         2     8.0         2            2     0
2          18         3     6.0         3            3     0
3          18         4     5.0         4            4     0
4          18         5     4.0         5            5     0
...       ...       ...     ...       ...          ...   ...
32684    1036       825     1.0        17           17     0
32685    1036       840    40.0         5            5     0
32686    1036       817    20.0        10           10     0
32687    1036       830    95.0         2            2     1
32688    1036       807     6.0        14           14     0

[32689 rows x 6 columns]

In [6]:
results = csvDict["results"]
results

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24735,24741,1036,841,51,99,20,16,16,16,0.0,65,\N,\N,47,6,1:21.801,204.863,11
24736,24742,1036,847,3,63,18,17,17,17,0.0,65,\N,\N,37,15,1:22.503,203.119,11
24737,24743,1036,849,3,6,19,18,18,18,0.0,64,\N,\N,60,9,1:22.030,204.291,12
24738,24744,1036,154,210,8,17,19,19,19,0.0,64,\N,\N,64,3,1:20.409,208.409,12
24739,24745,1036,844,6,16,9,\N,R,20,0.0,38,\N,\N,35,20,1:23.968,199.576,40

In [7]:
results = results.drop(columns =["position", "positionText", "fastestLap", "fastestLapTime", "fastestLapSpeed", "milliseconds", "resultId"])
results

,raceId,driverId,constructorId,number,grid,positionOrder,points,laps,time,rank,statusId
0,18,1,1,22,1,1,10.0,58,1:34:50.616,2,1
1,18,2,2,3,5,2,8.0,58,+5.478,3,1
2,18,3,3,7,7,3,6.0,58,+8.163,5,1
3,18,4,4,5,11,4,5.0,58,+17.181,7,1
4,18,5,1,23,3,5,4.0,58,+18.014,1,1
...,...,...,...,...,...,...,...,...,...,...,...
24735,1036,841,51,99,20,16,0.0,65,\N,6,11
24736,1036,847,3,63,18,17,0.0,65,\N,15,11
24737,1036,849,3,6,19,18,0.0,64,\N,9,12
24738,1036,154,210,8,17,19,0.0,64,\N,3,12
24739,1036,844,6,16,9,20,0.0,38,\N,20,40

In [8]:
status = csvDict["status"]
status

     statusId        status
0           1      Finished
1           2  Disqualified
2           3      Accident
3           4     Collision
4           5        Engine
..        ...           ...
130       133      +49 Laps
131       134      +38 Laps
132       135    Brake duct
133       136          Seat
134       137        Damage

[135 rows x 2 columns]

#### Création d'un index commun

In [9]:
drivers = drivers.set_index("driverId")
results = results.set_index("driverId")
drivers

,driverRef,pilot_number,code,forename,surname,dob,nationality
driverId,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British
2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German
3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German
4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish
5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish
...,...,...,...,...,...,...,...
845,sirotkin,35,SIR,Sergey,Sirotkin,1995-08-27,Russian
846,norris,4,NOR,Lando,Norris,1999-11-13,British
847,russell,63,RUS,George,Russell,1998-02-15,British
848,albon,23,ALB,Alexander,Albon,1996-03-23,Thai
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian

In [10]:
results

,raceId,constructorId,number,grid,positionOrder,points,laps,time,rank,statusId
driverId,,,,,,,,,,
1,18,1,22,1,1,10.0,58,1:34:50.616,2,1
2,18,2,3,5,2,8.0,58,+5.478,3,1
3,18,3,7,7,3,6.0,58,+8.163,5,1
4,18,4,5,11,4,5.0,58,+17.181,7,1
5,18,1,23,3,5,4.0,58,+18.014,1,1
...,...,...,...,...,...,...,...,...,...,...
841,1036,51,99,20,16,0.0,65,\N,6,11
847,1036,3,63,18,17,0.0,65,\N,15,11
849,1036,3,6,19,18,0.0,64,\N,9,12
154,1036,210,8,17,19,0.0,64,\N,3,12
844,1036,6,16,9,20,0.0,38,\N,20,40

#### Fusion entre drivers et results

In [11]:
driverGen = drivers.join(results)
driverGen

,driverRef,pilot_number,code,forename,surname,dob,nationality,raceId,constructorId,number,grid,positionOrder,points,laps,time,rank,statusId
driverId,,,,,,,,,,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,18,1,22,1,1,10.0,58,1:34:50.616,2,1
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,19,1,22,9,5,4.0,56,+46.548,3,1
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,20,1,22,3,13,0.0,56,\N,19,11
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,21,1,22,5,3,6.0,66,+4.187,3,1
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,1,22,3,2,8.0,58,+3.779,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1032,3,6,18,17,0.0,69,\N,17,12
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1033,3,6,15,19,0.0,65,\N,19,15
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1034,3,6,18,15,0.0,52,+54.549,14,1
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1035,3,6,18,19,0.0,51,\N,5,11
849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1036,3,6,19,18,0.0,64,\N,9,12

#### Suppression des colonnes superflue

In [12]:
#driverGen = driverGen.drop(columns = ["driverRef", "code", "position", "positionText"])
#driverGen = driverGen.rename(columns = {'number':'pilot_number'})
#driverGen

#### Reset de l'index

In [13]:
driverGen = driverGen.reset_index()
driverGen

,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality,raceId,constructorId,number,grid,positionOrder,points,laps,time,rank,statusId
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,18,1,22,1,1,10.0,58,1:34:50.616,2,1
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,19,1,22,9,5,4.0,56,+46.548,3,1
2,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,20,1,22,3,13,0.0,56,\N,19,11
3,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,21,1,22,5,3,6.0,66,+4.187,3,1
4,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,1,22,3,2,8.0,58,+3.779,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24735,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1032,3,6,18,17,0.0,69,\N,17,12
24736,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1033,3,6,15,19,0.0,65,\N,19,15
24737,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1034,3,6,18,15,0.0,52,+54.549,14,1
24738,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1035,3,6,18,19,0.0,51,\N,5,11
24739,849,latifi,6,LAT,Nicholas,Latifi,1995-06-29,Canadian,1036,3,6,19,18,0.0,64,\N,9,12

#### Lier les pilotes à leur résultat en course avec leur statusID (présent dans le dataset status)

In [14]:
status = status.set_index("statusId")
driverGen = driverGen.set_index("statusId")
driverGen = driverGen.join(status)
driverGen

,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality,raceId,constructorId,number,grid,positionOrder,points,laps,time,rank,status
statusId,,,,,,,,,,,,,,,,,,
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,18,1,22,1,1,10.0,58,1:34:50.616,2,Finished
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,19,1,22,9,5,4.0,56,+46.548,3,Finished
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,21,1,22,5,3,6.0,66,+4.187,3,Finished
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,1,22,3,2,8.0,58,+3.779,2,Finished
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,23,1,22,3,1,10.0,76,2:00:42.742,6,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,813,maldonado,13,MAL,Pastor,Maldonado,1985-03-09,Venezuelan,900,208,13,21,16,0.0,29,\N,14,ERS
132,821,gutierrez,21,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,906,15,21,22,14,0.0,64,\N,16,ERS
135,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,942,6,7,18,16,0.0,25,\N,14,Brake duct
136,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,976,10,11,6,15,0.0,39,\N,8,Seat
137,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,1010,4,3,12,19,0.0,28,\N,19,Damage

In [15]:
driverGen = driverGen.reset_index()
driverGen

,statusId,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality,raceId,constructorId,number,grid,positionOrder,points,laps,time,rank,status
0,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,18,1,22,1,1,10.0,58,1:34:50.616,2,Finished
1,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,19,1,22,9,5,4.0,56,+46.548,3,Finished
2,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,21,1,22,5,3,6.0,66,+4.187,3,Finished
3,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,1,22,3,2,8.0,58,+3.779,2,Finished
4,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,23,1,22,3,1,10.0,76,2:00:42.742,6,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24735,132,813,maldonado,13,MAL,Pastor,Maldonado,1985-03-09,Venezuelan,900,208,13,21,16,0.0,29,\N,14,ERS
24736,132,821,gutierrez,21,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,906,15,21,22,14,0.0,64,\N,16,ERS
24737,135,8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,942,6,7,18,16,0.0,25,\N,14,Brake duct
24738,136,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,976,10,11,6,15,0.0,39,\N,8,Seat
24739,137,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,1010,4,3,12,19,0.0,28,\N,19,Damage

In [16]:
driverGen = driverGen.drop(columns = ["statusId"])
driverGen = driverGen.set_index("driverId")
driverGen

,driverRef,pilot_number,code,forename,surname,dob,nationality,raceId,constructorId,number,grid,positionOrder,points,laps,time,rank,status
driverId,,,,,,,,,,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,18,1,22,1,1,10.0,58,1:34:50.616,2,Finished
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,19,1,22,9,5,4.0,56,+46.548,3,Finished
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,21,1,22,5,3,6.0,66,+4.187,3,Finished
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,1,22,3,2,8.0,58,+3.779,2,Finished
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,23,1,22,3,1,10.0,76,2:00:42.742,6,Finished
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
813,maldonado,13,MAL,Pastor,Maldonado,1985-03-09,Venezuelan,900,208,13,21,16,0.0,29,\N,14,ERS
821,gutierrez,21,GUT,Esteban,Gutiérrez,1991-08-05,Mexican,906,15,21,22,14,0.0,64,\N,16,ERS
8,raikkonen,7,RAI,Kimi,Räikkönen,1979-10-17,Finnish,942,6,7,18,16,0.0,25,\N,14,Brake duct
815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,976,10,11,6,15,0.0,39,\N,8,Seat
817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,1010,4,3,12,19,0.0,28,\N,19,Damage

In [17]:
driverGen = driverGen.reset_index()

#### Lier le fichier driver avec le nom des constructeurs

In [18]:
constructors = csvDict["constructors"]
constructors = constructors.drop(columns = ["url", "constructorRef"])
constructors = constructors.rename(columns = {'nationality':'constructor_nationality', 'name':'constructor_name'})
constructors = constructors.set_index("constructorId")
driverGen = driverGen.set_index("constructorId")
constructors

                   constructor_name constructor_nationality
constructorId
1                           McLaren                 British
2                        BMW Sauber                  German
3                          Williams                 British
4                           Renault                  French
5                        Toro Rosso                 Italian
...                             ...                     ...
209                  Manor Marussia                 British
210                    Haas F1 Team                American
211                    Racing Point                 British
212            Scuderia Alpha Tauri                 Italian
213                      AlphaTauri                 Italian

[211 rows x 2 columns]

In [19]:
driverGen = driverGen.join(constructors)
driverGen

,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality,raceId,number,grid,positionOrder,points,laps,time,rank,status,constructor_name,constructor_nationality
constructorId,,,,,,,,,,,,,,,,,,,
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,18,22,1,1,10.0,58,1:34:50.616,2,Finished,McLaren,British
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,19,22,9,5,4.0,56,+46.548,3,Finished,McLaren,British
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,21,22,5,3,6.0,66,+4.187,3,Finished,McLaren,British
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,22,3,2,8.0,58,+3.779,2,Finished,McLaren,British
1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,23,22,3,1,10.0,76,2:00:42.742,6,Finished,McLaren,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,1033,26,17,12,0.0,69,\N,18,+1 Lap,AlphaTauri,Italian
213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,1036,26,12,12,0.0,65,\N,12,+1 Lap,AlphaTauri,Italian
213,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,1032,10,7,15,0.0,70,\N,8,+1 Lap,AlphaTauri,Italian
213,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,1036,10,10,9,2.0,65,\N,17,+1 Lap,AlphaTauri,Italian
213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,1031,26,13,12,0.0,69,\N,13,Suspension,AlphaTauri,Italian

In [20]:
driverGen = driverGen.reset_index()
driverGen = driverGen.set_index("raceId")
driverGen

,constructorId,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality,number,grid,positionOrder,points,laps,time,rank,status,constructor_name,constructor_nationality
raceId,,,,,,,,,,,,,,,,,,,
18,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,1,1,10.0,58,1:34:50.616,2,Finished,McLaren,British
19,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,9,5,4.0,56,+46.548,3,Finished,McLaren,British
21,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,5,3,6.0,66,+4.187,3,Finished,McLaren,British
22,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,3,2,8.0,58,+3.779,2,Finished,McLaren,British
23,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,22,3,1,10.0,76,2:00:42.742,6,Finished,McLaren,British
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1033,213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,26,17,12,0.0,69,\N,18,+1 Lap,AlphaTauri,Italian
1036,213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,26,12,12,0.0,65,\N,12,+1 Lap,AlphaTauri,Italian
1032,213,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,10,7,15,0.0,70,\N,8,+1 Lap,AlphaTauri,Italian
1036,213,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,10,10,9,2.0,65,\N,17,+1 Lap,AlphaTauri,Italian
1031,213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,26,13,12,0.0,69,\N,13,Suspension,AlphaTauri,Italian

#### Associer le raceId à la course correspondante

In [21]:
races = csvDict["races"]
races = races.rename(columns = {'name':'race_name', 'date':'race_date', 'time':'race_start_time'})
races = races.drop(columns = ["url"])
races = races.set_index("raceId")
races

,year,round,circuitId,race_name,race_date,race_start_time
raceId,,,,,,
1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00
3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00
4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00
5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00
...,...,...,...,...,...,...
1039,2020,9,76,Tuscan Grand Prix,2020-09-13,13:10:00
1040,2020,10,71,Russian Grand Prix,2020-09-27,11:10:00
1041,2020,11,20,Eifel Grand Prix,2020-10-11,13:10:00
1042,2020,12,75,Portuguese Grand Prix,2020-10-25,12:10:00
1043,2020,13,21,Emilia Romagna Grand Prix,2020-11-01,13:10:00

In [22]:
driverGen = driverGen.join(races)
driverGen = driverGen.reset_index()
driverGen

,raceId,constructorId,driverId,driverRef,pilot_number,code,forename,surname,dob,nationality,...,rank,status,constructor_name,constructor_nationality,year,round,circuitId,race_name,race_date,race_start_time
0,1,1,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,...,13,Disqualified,McLaren,British,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
1,1,1,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,...,\N,Collision,McLaren,British,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
2,1,2,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,...,5,Finished,BMW Sauber,German,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
3,1,2,9,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,...,2,Collision,BMW Sauber,German,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
4,1,3,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,...,1,Finished,Williams,British,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24735,1036,210,154,grosjean,8,GRO,Romain,Grosjean,1986-04-17,French,...,3,+2 Laps,Haas F1 Team,American,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00
24736,1036,211,815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,...,16,+1 Lap,Racing Point,British,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00
24737,1036,211,840,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,...,8,+1 Lap,Racing Point,British,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00
24738,1036,213,826,kvyat,26,KVY,Daniil,Kvyat,1994-04-26,Russian,...,12,+1 Lap,AlphaTauri,Italian,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00
24739,1036,213,842,gasly,10,GAS,Pierre,Gasly,1996-02-07,French,...,17,+1 Lap,AlphaTauri,Italian,2020,6,4,Spanish Grand Prix,2020-08-16,13:10:00

#### Associer le circuitId au circuit correspondant

In [23]:
circuits = csvDict["circuits"]
circuits = circuits.drop(columns = ["lat","lng","alt","url","circuitRef"])
circuits = circuits.rename(columns = {'name':'circuit_name'})
circuits

    circuitId                          circuit_name      location     country
0           1        Albert Park Grand Prix Circuit     Melbourne   Australia
1           2          Sepang International Circuit  Kuala Lumpur    Malaysia
2           3         Bahrain International Circuit        Sakhir     Bahrain
3           4        Circuit de Barcelona-Catalunya      Montmeló       Spain
4           5                         Istanbul Park      Istanbul      Turkey
..        ...                                   ...           ...         ...
71         72          Port Imperial Street Circuit    New Jersey         USA
72         73                     Baku City Circuit          Baku  Azerbaijan
73         74                  Hanoi Street Circuit         Hanoi     Vietnam
74         75    Autódromo Internacional do Algarve      Portimão    Portugal
75         76  Autodromo Internazionale del Mugello       Mugello       Italy

[76 rows x 4 columns]

In [24]:
circuits = circuits.set_index("circuitId")
driverGen = driverGen.set_index("circuitId")
driverGen = driverGen.join(circuits)
driverGen = driverGen.reset_index()
driverGen = driverGen.drop(columns = ["circuitId", "raceId", "constructorId"])
driverGen = driverGen.set_index("driverId")
driverGen

,driverRef,pilot_number,code,forename,surname,dob,nationality,number,grid,positionOrder,...,constructor_name,constructor_nationality,year,round,race_name,race_date,race_start_time,circuit_name,location,country
driverId,,,,,,,,,,,,,,,,,,,,,
1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,1,18,20,...,McLaren,British,2009,1,Australian Grand Prix,2009-03-29,06:00:00,Albert Park Grand Prix Circuit,Melbourne,Australia
5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,2,12,19,...,McLaren,British,2009,1,Australian Grand Prix,2009-03-29,06:00:00,Albert Park Grand Prix Circuit,Melbourne,Australia
2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,6,9,10,...,BMW Sauber,German,2009,1,Australian Grand Prix,2009-03-29,06:00:00,Albert Park Grand Prix Circuit,Melbourne,Australia
9,kubica,88,KUB,Robert,Kubica,1984-12-07,Polish,5,4,14,...,BMW Sauber,German,2009,1,Australian Grand Prix,2009-03-29,06:00:00,Albert Park Grand Prix Circuit,Melbourne,Australia
3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,16,5,6,...,Williams,British,2009,1,Australian Grand Prix,2009-03-29,06:00:00,Albert Park Grand Prix Circuit,Melbourne,Australia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
822,bottas,77,BOT,Valtteri,Bottas,1989-08-28,Finnish,77,1,1,...,Mercedes,German,2019,4,Azerbaijan Grand Prix,2019-04-28,12:10:00,Baku City Circuit,Baku,Azerbaijan
825,kevin_magnussen,20,MAG,Kevin,Magnussen,1992-10-05,Danish,20,12,13,...,Haas F1 Team,American,2019,4,Azerbaijan Grand Prix,2019-04-28,12:10:00,Baku City Circuit,Baku,Azerbaijan
154,grosjean,8,GRO,Romain,Grosjean,1986-04-17,French,8,14,18,...,Haas F1 Team,American,2019,4,Azerbaijan Grand Prix,2019-04-28,12:10:00,Baku City Circuit,Baku,Azerbaijan
815,perez,11,PER,Sergio,Pérez,1990-01-26,Mexican,11,5,6,...,Racing Point,British,2019,4,Azerbaijan Grand Prix,2019-04-28,12:10:00,Baku City Circuit,Baku,Azerbaijan
840,stroll,18,STR,Lance,Stroll,1998-10-29,Canadian,18,13,9,...,Racing Point,British,2019,4,Azerbaijan Grand Prix,2019-04-28,12:10:00,Baku City Circuit,Baku,Azerbaijan

#### Enregistrer le fichier CSV

In [25]:
driverGen.to_csv("Driver/driversGen.csv", sep=';')